* {
    font-family: 'Courier New', Courier, monospace;
}

#primerP {
background-color: grey;
}

.especial {
    color: blue;
}

h2, h3 {
    border: 1px;
    border-style: solid;
    border-color: orange;
}

ul {
    color: red;
}

ul  ul {
    color: green;
}

img {
    width: 20%;
}

p img {
    border: 5px;
    border-style: solid;
    border-color: black;
}

img[alt="segunda"] {
    border: 5px;
    border-style: solid;
    border-color: red;
}

h3:has(+p) {
    background-color: pink;
}

p + h3 {
    background-color: blue;
}
